 
<%- include('../partials/admin/adminHeader') %>

<div class="px-4 col-xl-10 col-lg-9 col-md-9 col-10">
    <h2 class="mt-4 fw-bold subheading px-5">Category Offer</h2>
    <hr size="4">

    <div class="row mx-3">
        <form class="row g-3 needs-validation" action="/admin/offer/category/add"  method="post" novalidate>

            <div class="col-md-6">
                <% if( message.couponName ) { %>
                    <label for="inputState" class="form-label">Category</label>
                    <select class="form-select" name="category" aria-label="Default select example">
                        <option selected>Select...</option>
                        <% categorys.forEach(function(category){ %>
                          <% if(!category.haveOffer) {%>
                        <option value="<%= category._id %>"><%= category.categoryName %></option>                   
                        <% }}) %>
                      </select>
                  <% } else { %>
                    <label for="inputState" class="form-label">Category</label>
                    <select class="form-select" name="category" aria-label="Default select example">
                        <option selected>Select...</option>
                        <% categorys.forEach(function(category){ %>
                          <% if(!category.haveOffer) {%>
                        <option value="<%= category._id %>"><%= category.categoryName %></option>                   
                        <% }}) %>
                      </select>
                    <% } %>
            </div>

            <div class="col-md-6">
                <% if( message.discount ) { %>
                  <label for="floatingInputInvalid" class="text-danger"><%= message.discount %></label>
                  <input type="text" name="discount" class="form-control is-invalid" id="floatingInputInvalid">
                <% } else { %>
                <label for="inputAddress2" class="form-label">Discount</label>
                <input type="number" name="discount"  class="form-control" id="discount" required>
                <% } %>
              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Expiry Date</label>
                <input type="date" name="expiryDate" class="form-control" id="expiryDate" >
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>

        </form>
    </div>





</div>
</div>
</div>
</div>
<script>
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()    
</script>