
<%- include('../partials/admin/adminHeader.ejs') %>

<div class="px-4 col-xl-10 col-lg-9 col-md-9 col-10">
    <div class="d-flex justify-content-between">
        <h2 class="mt-4 fw-bold subheading px-5">Offers</h2>
    </div>
    <hr size="4">

    <div class="row mx-3">
      <div class="d-flex justify-content-between">
        <h3>Product Offers</h3>
        <a href="/admin/offer/product/add">
          <button type="button" class="btn btn-primary  mx-4 px-5 fw-bold">Add </button> 
        </a>
      </div>
        <hr>
    </div>
    <% productOffers.forEach(function(offer){ %>
    <div class="row mx-3">
        <div class="card mb-3 ">
            <div class="row g-0 d-flex align-items-center ">
                
              <div class="col-lg-1 col-md-4 d-flex justify-content-center" >
                <a class="text-secondary text-decoration-none" href="/product/">
                <img src="<%= offer.product_id.images %>" class="img-fluid rounded-start " alt="" style="width: 10rem;">
            </a>
              </div>

              <div class="col-lg-3 col-md-3">
                <div class="card-body">                 
                  <h5 class="card-title fw-bold text-start"><%= offer.product_id.productName %></h5>
                </div>
              </div>

              <div class="col-lg-2 col-md-3">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Product Price</h6>
                  <h5 class="card-title"><%= offer.product_id.price %></h5>
                </div>
              </div>

              <div class="col-lg-1 col-md-2">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Discount </h6>
                  <h5 class="card-title">%<%= offer.discount %></h5>
                </div>
              </div>

              <div class="col-lg-2 col-md-2">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Disount Price</h6>
                    <% let discountPrice = (offer.product_id.price / 100) * offer.discount; %>
                  <h5 class="card-title"><%= offer.offerPrice %></h5>
                </div>
              </div>

              <div class="col-lg-2 col-md-3">
                <div class="card-body">   
                    <h6 class="card-subtitle mb-2 text-muted">Expiry Date</h6>              
                  <h5 class="card-title fw-bold text-start"><%= offer.expiryDate.toLocaleString('default',{day: 'numeric', month: 'numeric', year: 'numeric'}) %></h5>
                </div>
              </div>

              <div class="col-lg-1 col-md-3">
                <button class="btn btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#deleteProductOffer" onclick="getOfferId('<%= offer._id %>')" type="button"><i class="fa-solid fa-trash"></i></button>
                    <!-- <a href="/admin/coupon/edit"><button class="btn btn-outline-dark fw-bold" type="button"><i class="fa-solid fa-pen-to-square"></i></button></a> -->
              </div>

            </div>
          </div>
    </div>
<% }) %>

<div class="row mt-2 mx-3">
  <div class="d-flex justify-content-between">
  <h3>Category Offers</h3>
  <a href="/admin/offer/category/add">
    <button type="button" class="btn btn-primary  mx-4 px-5 fw-bold">Add </button> 
  </a>
</div>
    <hr>
</div>

<div class="row d-flex  mx-3">
<% if(categoryOffers) {%>
  <% categoryOffers.forEach(function(offer){ %>

  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">

      <div class="col-lg-1 col-md-3">

      </div>

      <div class="col-lg-3 col-md-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Category Name </h6>           
          <h5 class="card-title fw-bold text-start"><%= offer.category_id.categoryName %></h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-2">
        <div class="card-body text-center">
            <h6 class="card-subtitle mb-2 text-muted">Discount </h6>
          <h5 class="card-title">%<%= offer.discount %></h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-2">
        <div class="card-body text-center">
            <h6 class="card-subtitle mb-2 text-muted">Expiry Date</h6>
          <h5 class="card-title"><%= offer.expiryDate.toLocaleString('default',{day: 'numeric', month: 'numeric', year: 'numeric'}) %></h5>
        </div>
      </div>

      <div class="col-lg-2 col-md-2">
        <div class="card-body text-center">
          <button class="btn btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#deleteCategoryOffer" onclick="getOfferId('<%= offer._id %>')" type="button"><i class="fa-solid fa-trash"></i></button>
          <!-- <a href="/admin"><button class="btn btn-outline-dark fw-bold" type="button"><i class="fa-solid fa-pen-to-square"></i></button></a> -->
        </div>
      </div>

    </div>
<% })} %>
</div>

</div>

<!--modal for delete product Offer-->
<div class="modal fade" id="deleteProductOffer" tabindex="-1" aria-labelledby="deleteProductOffer" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want to delete this Product OFfer?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="deleteProductOffer()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!--modal for delete category Offer-->
<div class="modal fade" id="deleteCategoryOffer" tabindex="-1" aria-labelledby="deleteCategoryOffer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete this Category Offer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="deleteCategoryOffer()">Delete</button>
      </div>
    </div>
  </div>
</div>



</div>
</div>
</div>
</div>
<script>
    let offerId;

    function getOfferId(id){
        offerId = id;
    };


    async function deleteProductOffer(){
        try {
            let responce = await fetch(`/admin/offer/product/${offerId}/delete`,{
                method:'DELETE',
                headers:{
                    'Content-Type': 'application/json',
                },
            });
            if(responce.ok){
                window.location.reload();
            }
        } catch (error) {
            console.log(error);
        }
    }

  async function deleteCategoryOffer(){
    try {
      let responce = await fetch(`/admin/offer/category/${offerId}/delete`,{
          method:'DELETE',
          headers:{
              'Content-Type': 'application/json',
          },
      });
      if(responce.ok){
        window.location.reload();
      }
    } catch (error) {
      console.log(error);
    }
  }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>