<%- include('../partials/admin/adminHeader.ejs') %>


<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel - User Management</title>
  <style>


    h1{
      text-align: center;
      background-color: #ffffff;
      color: #111010;
      padding: 20px 0;
      margin: 0;
    }

    h2{
      text-align: center;
      font-family:  sans-serif;
      color: #000000;
      font-size: 40px;
      padding: 20px 0;
      margin: 0;
    }


    .container {
      padding: 80px;
    }

    table {
      width: 100%;
      background-color: #fff;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid #ddd;
    }

    th, td {
      padding: 12px;
      text-align: left;
    }

    th {
      background-color: #e6ebf0;
      color: #b31a1a;
    }

    .actions {
      text-align: center;
    }

    .button {
      display: inline-block;
      padding: 6px 12px;
      background-color: #fbfbfc;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
    }

    .button.edit {
      background-color: #0d0d0e;
    }

    .button.delete {
      background-color: #d9534f;
    }

    .form {
      width: 50%;
      background-color: #fff;
      padding: 20px;
      margin: 20px auto;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 6px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .form button {
      background-color: #fafbfc;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>
<body>

 

  <div class="container">
    <h1><spam class="text-danger">User</spam><spam>  </spam>Management</h1>
    <h4><spam class="text-danger">Users</spam><spam>  </spam>List</h4>
    
  
    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
      <% users.forEach((person,index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= person.name %></td>
          <td><%= person.email %></td>
          <td><%= person.phone %></td>
          
          <td class="actions">
            <% if (!person.status) { %>
              <a href="/admin/unblock/<%= person._id %>" class="button delete" class="text-danger" onclick="return confirm('Are you sure you want to block <%= person.name %>')">Block</a>
            <% } else { %>
              <a href="/admin/block/<%= person._id %>" class="button edit " class="text-danger" onclick="return confirm('Are you sure you want to unblock <%= person.name %>')">Unblock</a>
              
            <% } %>
          </td>
          
        </tr>
      <% }) %>
    
    </table>
  </div>
  
  

  
</body>
</html>
